*{
    font-family: "Roboto", sans-serif;
}

h1{
    position: relative;
    z-index: 500;
}

#MainMap{
    position: relative;
    z-index: 10;
}

.map-controls{
    position: absolute;
    width: fit-content;
    min-width: 8vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: content-box;
    gap: 10px;
}
.map-control-btn{
    background: none;
    border: none;
    font-size: 3.5vmin;
    color: white;
    cursor: pointer;
}