:root{
    --varPolBtn: #1f1f1f;
    --varPolBtnAct: #db7e0e;
    --varBG: #272727;
}

.statistics-monitor-main{
    top: 3%;
    left: 10%;
    position: absolute;
    overflow-y: scroll;
    z-index: 1000;
    width: 88%;
    height: 90%;
    background-color: var(--varBG);
    border: 5px solid rgba(0, 0, 0, 0.531);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}
.statistics-monitor-main h1{
    font-weight: 900;
}

.dashboard-filters{
    display: flex;
    list-style: none;
    width: clamp(10rem, 25rem, 35rem);
    padding: 0;
    margin: 0;
    height: 3vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-towns{
    width: 100%;
    display: flex;
    height: clamp(40vh, 70vh, 85vh);
    background-color:#191919;
}
.dashboard-town-filter-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1f1f1f;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
    width: 20%;
}
.dashboard-town-filter{ 
    height: 100%;
    width: 80%;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    background-color: #1c1c1c;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
}
.board-disease-filter{
    width: clamp(10vw, auto, 25vw);
    display: flex;
    height: auto;
    gap: 1%;
}
.dsh-btn {
    flex: 1;
    min-width: 0;
    border: none;
    color: white;
    width: 1vw;
}

.dsh-btn button{
    width: 100%;
    min-width: 0;
    height: 100%;
    color: white;
    border-radius: 0;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.dsh-city-btn{
    width: 100%;
    height: clamp(1vh, 5vh, 5vh);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.dsh-city-btn button{
    width: 100%;
    font-size: clamp(1rem, 1.3vmin, 2rem);
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.dsh-city-btn.active button{
    color: rgba(255, 46, 46, 0.777);
    font-weight: 700;
}

.town-indicator{
    position: relative;
    width: clamp(10px, 5vw, 20px);
    height: 10px;
}
.town-indicator.active {
        background-color: red;
}

.statistics-monitor-main hr{
    width: 100%;
}
.town-dashboards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: clamp(2%, 4%, 5%);
    margin: 20px;
    overflow-x: scroll;
}


/* -------- Town Pollutant Board */
.towns-graph-overview{
    width: 100%;
    height: 100%;
}
.town-pollutant-entries{
    width: 100%;
    height: clamp(20vh, 80vh, 60vh);
    overflow-y: scroll;
}
.town-pollutant-entries-container{
    display: flex;
    width: 100%;
    gap: clamp(2%, 3%, 15%);
}
.town-pollutant-board{
    margin-top: clamp(5vh, 4vh, 6vh);
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
    min-height: 30vh;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.085);
}
.town-pollutant-entries-section{
    display: flex;
    flex-direction: column;
    gap: clamp(2%, 4%, 5%);
    margin-top: clamp(2vh, 2vh, 4vh);
    align-items: center;
}

.pollutant-filter-button{
    width: clamp(10rem, 6vw, 15rem);
    background-color: rgb(47, 47, 55);
    color: white;
    border: none;
    font-weight: 500;
    height: clamp(4vh, 5vh, 5vh);
}
.town-pollutant-entry{
    width: 100%;
    height: clamp(5vh, 5vh, 10vh);
    display: flex;
    gap: clamp(10%, 10%, 20%);
    background-color: var(--varBG);
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    
    
}
.town-pollutant-entry h3{
    font-weight: 300;
}
.town-pollutant-bar-graph{
    width: 50%;
    height: clamp(25vh, 80vh, 70vh);
    padding: 50px;
    background-color: #1c1c1c;
}

.town-pollutant-statistics{
    width: 100%;
    background-color: #1c1c1c;
    padding: 10px;
    box-sizing: border-box;
}
.disease-table-dashboard{
    width: 100%;
    height: clamp(8vh, 15vh, 15vh);
    overflow-y: scroll;
    font-size: 20px;
    margin: 10px;
}
.disease-table-dashboard tr, th, td{
    border: 0.1px white solid;
    height: 50px;
}
.disease-details-dashboard{
    width: 100%;
    height: clamp(40vh, auto, 70vh);
    background-color:#1f1f1f;
    display: grid;
    padding: 50px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    overflow-y: scroll;
    font-size: 20px;
    margin: 10px;
}
.town-disease-risk-entry{
    width: clamp(10vw, 20vw, 30vw);
    height: auto;
    min-height: 35vh;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background-color: #1c1c1c;
}
.disease-details{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.pollutant-cont-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pollutant-cont-entry h5{
    font-size: 1.3rem;
}
.pollutant-cont-entry p{
    font-size: 1rem;
}