


.town-overview{
    color: white;
    background-color: #303030;
    box-sizing: content-box;
    padding: 10px;
    width: 10vw;
    /* resize: both;
    overflow: auto; */
    display: flex;
    flex-direction: column;
}