
:root{
    --varPolBtn: #1f1f1f;
    --varPolBtnAct: #db7e0e;
}

 


.town-overview{
    cursor:move;
    color: white;
    background-color: #303030;
    box-sizing: border-box;
    padding: 25px;
    width: auto;
    height:  auto;
    min-width: 60vw; 
    max-width: 60vw;
    min-height: 30vh;
    max-height: 80vh;
    overflow-y: scroll;
    resize: both;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 2px rgb(121, 121, 121);
    border-radius: 5px;
    animation: overview-intro 0.2s ease-in forwards;
    opacity: 0;
    z-index: 1000;
}
.close-btn-overview{ 
    width: clamp(50px, 70px, 80px);
    background-color: var(--varPolBtn);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.town-overview h1{
    width: fit-content;
}
.town-overview h2{
    font-size: clamp(1rem, 4vmin, 5rem);
}
.town-overview-details{
    width: 100%;
    height: auto;
    background-color: rgb(42, 42, 42);
    color: white;
}

.pollutant-filters{
    display: flex;
    list-style: none;
    width: 100%;
    background-color: red;
    padding: 0;
    margin: 0;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}   
.pol-btn {
    flex: 1;
    min-width: 0;
    width: 1vw;
}

.pol-btn button{
    width: 100%;
    min-width: 0;
    color: white;
    border-radius: 0;
    text-decoration: none;
}
@keyframes overview-intro {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.town-overview hr {
    width: 100%;
}

.display-options{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.display-options button{
    background-color: var(--varPolBtn);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.disp-opt.active, .display-options button:hover{
    background-color: var(--varPolBtnAct);
}

/* Pollutant overview box */
.year-range-filter{
    width: 100%;
    padding: clamp(20px, 30px, 40px);
    box-sizing: border-box;
    color: white;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.year-range-input{
    color: white;
    width: 90%;
}

.pollution-yearly-avg{ 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 60vh;;
}
.pollution-yearly-avg-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/* Disease Overview box */
.disease-overview{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: clamp(auto, 20vh, 50vh); 
    padding: 20px;
    box-sizing: border-box;
}
.disease-overview-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.disease-overview-box{
    width: 100%;
    height: clamp(20vh, 55vh, 70vh);
    background-color: #1f1f1f;
    padding: 10px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}
.disease-overview-box h3{
    margin: 0;
    padding: 0;
    text-align: center;
}   
.disease-logo{
    width: 90px;
    object-fit: contain;
}
.disease-overview-value{
    height: clamp(10vh, 30vh, 40vh);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}
.risk-div{
    display: flex;
    background-color: rgb(15, 15, 15);
    height: clamp(50px, 70px, 90px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10%;  
}
.risk-div h1{
    font-size: clamp(0px, 40px, 60px);
}
.btn{
    min-width: 90px;
    width: clamp(auto, 90px, 100px);
    background-color: var(--varPolBtn);
    color: white;
    border: none;
    font-size: 15px;
    height: clamp(auto, 20px, 80px);
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn.active{
    background-color: var(--varPolBtnAct);
}
.disease-table{
    width: 100%;
    height: auto;
    color: white;
    background-color: #1f1f1f;
    padding: 10px;
}
.disease-table table{
    width: 100%;
    height: auto;
    min-height: clamp(20vh, 30vh, 40vh);
}

.disease-table table, th, td{
    border: 1px white solid;
} 

.disease-overview-explanation{
    background-color: #1f1f1f;
    width: 100%;
    height: auto;
    padding: 10px;
}
.guideline-table{
    width: 95%;
    height: 20vh;
    margin: 20px;
}