
:root{
    --varPolBtn: #1f1f1f;
    --varPolBtnAct: #db7e0e;
}

.town-overview{
    cursor:move;
    color: white;
    background-color: #303030;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    height: auto;
    min-width: 50vw;
    min-height: 30vh;
    resize: both;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 2px rgb(121, 121, 121);
    border-radius: 5px;
    animation: overview-intro 0.2s ease-in forwards;
    opacity: 0;
    z-index: 1000;
}
.town-overview h2{
    font-size: clamp(1rem, 4vmin, 5rem);
}
.town-overview-details{
    width: 100%;
    height: 50%;
    background-color: rgb(42, 42, 42);
    color: white;
}

.pollutant-filters{
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}   
.pol-btn {
    flex: 1;
    min-width: 0;
    width: 1vw;
}

.pol-btn button{
    width: 100%;
    min-width: 0;
    color: white;
    border-radius: 0;
    
    text-decoration: none;
}
@keyframes overview-intro {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.town-overview hr {
    width: 100%;
}

.display-options{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.display-options button{
    background-color: var(--varPolBtn);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.disp-opt.active, .display-options button:hover{
    background-color: var(--varPolBtnAct);
}
.year-range-filter{
    width: 100%;
    padding: clamp(20px, 30px, 40px);
    box-sizing: border-box;
    color: white;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.year-range-input{
    color: white;
    width: 90%;
}