

* {
    padding: 0px;
    margin: 0px;
}
 
 
.risk-div{
    display: flex;
    background-color: rgb(15, 15, 15);
    height: clamp(50px, 70px, 90px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10%;  
}
.risk-div h1{
    font-size: clamp(40px, 40px, 60px);
}